.profile-grid-container {
  display: grid;
  grid-template-columns: 20px 1fr 2.5fr 20px;
  grid-template-rows: 50px 0.25fr 0.25fr 1fr 1fr 1fr 1fr 50px;
  gap: 0px 0px;
  grid-template-areas:
    ". . . ."
    ". ProfilePhoto Name ."
    ". ProfilePhoto Details ."
    ". ProfilePhoto UserInfo ."
    ". UserStats FavoriteMovies ."
    ". UserStats RecentlyWatched ."
    ". . WantToWatch ."
    ". . . .";
}

.Name { 
    grid-area: Name; 
}

.Details { 
    grid-area: Details; 
}

.UserInfo { 
    grid-area: UserInfo; 
}

.FavoriteMovies { 
    grid-area: FavoriteMovies; 
}

.RecentlyWatched { 
    grid-area: RecentlyWatched; 
}

.WantToWatch { 
    grid-area: WantToWatch; 
}

.ProfilePhoto { 
    grid-area: ProfilePhoto; 
}

.UserStats { 
    grid-area: UserStats; 
}

.profile {
    text-align: left;
    object-fit: contain;
    position: fixed;
    left: 20px;
    padding-top: 50px;
}
.photocircle {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    position: relative;
    overflow: hidden;
}

.profilepic {
    display: inline;
    /* margin: 0 0; */
    /* margin-right: 10%; */
    height: 135%;
    width: auto;
}
