.container {
    width: 420px;
    height: 690px;
    border: 1px solid black;
    margin: 40px auto 0 auto;
    position: relative;
}

/* .pic {
height: 55%;
position: relative;
overflow: hidden;
}

.userImage {
height: 100%;
position: relative;
/*   left: -112px; */


/* .name-box {
width: 100%;
height: 80px;
border-bottom: 1px solid rgba(0,0,0,.1);
box-sizing: border-box;
font-family: 'Source Sans Pro', sans-serif;
position: relative;
}

h2 {
padding-top: -0px;
padding-left: 20px;
color: #454344;
margin: 0;
margin-top: 10px;
}

p {
margin: 0;
margin-top: 10px;
color: grey;
padding-left: 20px;
padding-right: 20px;
font-family: 'Source Sans Pro', sans-serif;
}

.age {
padding-left: 6px;
font-weight: 200;
}

.pic-counter-wrapper {
background-color: transparent;
position: absolute;
z-index: 2;
left: 44%;
top: 10px;
} */ */

/* .back {
fill: white;
padding-top: 20px;
padding-right: 6px;
width: 30px;
height: 30px;
} */

.card {
    position: relative;
    width: 500px;
    padding: 20px;
    max-width: 70vw;
    height: 60vh;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    /* box-shadow: 0px 18px 55px 0px rgba(0, 0, 0, 0.014); */
}

.card > h1 {
    position: absolute;
    bottom: 70px;
    color: whitesmoke;
    text-shadow: 1px 2px black;
}