.tinderposter > img {
    position: relative;
    object-fit: contain;
    width: 100%;
    padding: 20px;
    height: 800px;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
}

.tinderposter > h1 {
    position: absolute;
    bottom: 70px;
    color: whitesmoke;
    text-shadow: 1px 2px black;
}

.tinderposter > h4 {
    position: absolute;
    bottom: 40px;
    color: whitesmoke;
    text-shadow: 1px 2px black
}

.tinderposter > h5 {
    position: absolute;
    bottom: 20px;
    color: whitesmoke;
    text-shadow: 1px 2px black;
    white-space: wrap;
    text-overflow: clip;
    background-color: hsla(0, 0%, 0%, 0.212);
    overflow-x: hidden;
    overflow-y: hidden;

}

.tinderposterContainer {
    display: flex;
    justify-content: center;
    margin-top: 5vh;
}

.swipe {
    position: absolute;
}

.center {
    text-align: center;
;}

.infoText {
    width: 100%;
    padding-top: 10px;
    justify-content: center;
    display: flex;
    color: white;
    animation-name: popup;
    animation-duration: .8s;
}

.filters {
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 5vh 5vw 0 5vw;
    align-items: center;
}

