.grid-container {
    color: white;
    padding-top: 50px;
    display: grid;
    grid-template-columns: 20px 1fr 20px;
    grid-template-rows: 0.5fr 1fr 1fr 1fr 0.5fr;
    gap: 0px 0px;
    grid-template-areas:
        ". Home ."
        ". RecentlyWatched ."
        ". TrendingMovies ."
        ". TrendingTV ."
        ". . .";
}

.RecentlyWatched { 
    grid-area: RecentlyWatched; 
}

.TrendingMovies { 
    grid-area: TrendingMovies; 
}

.TrendingTV { 
    grid-area: TrendingTV; 
}

.Home { 
    grid-area: Home; 
}
