@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");

.new-user-button {
	align-Items: center;
	margin: auto;
	justify-content: center;
}

.box-input {
	position: relative;
}

.loginform {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.loginbutton {
	align-Items: center;
	margin: auto;
	justify-content: center;
    width: 100px;
    height: 30px;
    border-radius: 30px;
    border: none;
    background: white;
    font-weight: bold;
    font-size: 12pt;
    cursor: pointer;
}

.newuserbutton {
	align-Items: center;
	margin: auto;
	justify-content: center;
    width: 100px;
    height: 30px;
    border-radius: 30px;
    border: none;
    background: white;
    font-weight: bold;
    font-size: 12pt;
    cursor: pointer;
}